.Edit_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Edit_mid {
    width: 350px;
    height: 390px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
  
  .Editform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .Editform label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Editform input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  